body {
  background-color: #f7e9d7;
  padding: 50px;
}

.title {
  font-size: 35px;
  text-align: center;
}

.sudokucontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.sTable {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #e9af6c;
  text-align: center;
  /* border-collapse: collapse; */
}

td {
  border: 3px solid #cebfaf;
}

td td {
  width: 50px;
  height: 50px;
  border: 1px solid #d1a988;
  font-weight: bold;
  font-size: 1.42m;
  color: black;
}
