body {
  background-color: #f7e9d7;
  padding: 50px;
}

.title {
  font-size: 24px;
  text-align: center;
}

.sudokucontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.sTable {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ebd8c3;
  text-align: center;
}
